<div id="tour-guide-wrapper">
  <div class="container wrapper-tour-guide-inner">
    <!-- <img class="profile-image" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
    <div class="row">
      <div class="col-xs-9">
        <div class="tour">
          <h2 id="tour-guide-name"><%= guide.first_name %> <%= guide.last_name %></h2>
          <p><%= guide.age %> years old | <%= guide.tours.first.city %></p>
        </div>

        <div class="interests">
          <h2>Interests</h2>
          <hr>
          <i class="fa fa-<%= guide.interest1 %>"></i>
          <i class="fa fa-<%= guide.interest2 %>"></i>
          <i class="fa fa-<%= guide.interest3 %>"></i>
        </div>

        <div class="about-me">
          <h3>About Me</h3>
          <hr>
          <p><%= guide.description %></p>
        </div>
      </div>
    </div>

    <div class="offered-tours-div">
      <h1 id="offered-tours-heading"><b>OFFERED TOURS</b></h1>
      <% guide.tours.each do |tour| %>
        <div class="row wrapper-offered-tours">
          <!-- Offered Tours -->

            <div class="col-xs-1">
              <%#= image_tag '', class: '' %>
            </div>
            <div class="col-xs-7">
              <div class="offered-tours-content">
                <p><b><%= tour.name %></b></p>
                <p><%= tour.description %></p>
              </div>
            </div>
            <div class="col-xs-4 wrapper-details-link">

              <%= link_to 'See more details', tour_path(tour), class: "btn btn-success btn-secondary" %>


          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
