<div class="container">
  <!-- <img class="profile-image" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
  <div class="row">
    <div class="col-xs-9">
      <div class="tour">
        <h2>Tour Guide Name</h2>
        <p>Age:<%= guide.age %></p>
      </div>

      <div class="interests">
        <h2>Interests</h2>
        <!-- <a href="#"><i class="fa fa-<%= guide.interest1 %>"></i></a> -->
        <!-- <a href="#"><i class="fa fa-<%= guide.interest2 %>"></i></a> -->
         <!-- <a href="#"><i class="fa fa-<%= guide.interest3 %>"></i></a> -->
      </div>

      <div class="about-me">
        <h3>About Me</h3>
        <p><%= guide.description %></p>
      </div>
    </div>



    <!-- Offered Tours -->
    <p>THESE ARE THE TOURS OFFERED - TO BE ADJUSTED</p>
    <% guide.tours.each do |tour| %>
    <p><%= link_to tour.description, tour_path(tour) %></p>
    <% end %>


  </div>

</div>
