<!-- carousel -->
<div class="container" style="height: 100vh;">

  <div class="row">
    <div class="filter-bar">
      <%= render 'profiles/interest_filter' %>
    </div>
  </div>

  <div class="row">
    <% if action_name == "search" %>
      <h1>Tours offered in <%= params[:search][:city].capitalize %></h1>
    <% elsif action_name == "search_filter" %>
      <h1>There are <%= @guides.count %> tours in Berlin that match your search</h1>
    <% else %>
      <h1> <%= @guides.count %> Tours </h1>
    <% end %>
  </div>

  <% if @guides.any? %>

    <div class="row">
      <div class="col-xs-12">
        <div class="carousel slide multi-item-carousel" id="theCarousel">
          <div class="carousel-inner">
              <% @guides.each_with_index do |guide, index| %>
                <% if guide.tours.first %>
                  <div class="item <%= "active" if index == 0 %>">
                    <div class="col-xs-3 small-padding no-margin">
                      <%= link_to profile_path(guide), class: "card-link", remote: true do %>
                        <div class="<%= "card-active" if index == 0 %> card card-carousel" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("<%= cl_image_path guide.tours.first.photo.path, height: 240, crop: :fill %>;");'>
                            <h2><% guide_tours = @guide_tours.present? ? @guide_tours[guide.id] : guide.tours %>
                              <% guide_tours.each do |tour| %>
                                <%= tour.name %>
                              <% end %>
                            </h2>


                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  <% end %>

  <% if @guides.any? %>
    <div id="guide-info">
      <div class="row">
        <div class="col-xs-12">
          <%= render "guide_show", guide: @guides.first %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= content_for :after_js do %>
  <script>
    $(".card-carousel").on("click", function(e) {
      $(".card-carousel").removeClass('card-active');
      $(this).addClass("card-active");
    });
  </script>
<% end %>

<!-- geocode map -->
