<!-- carousel -->
<div class="container">

  <div class="row">
    <div class="filter-bar">
      <%= render 'profiles/interest_filter' %>
    </div>
  </div>

  <div class="row">
    <% if action_name == "search" %>
      <h1>Guides in <%= params[:search][:city].capitalize %></h1>
    <% elsif action_name == "search_filter" %>
      <h1>Your search gave <%= @guides.count %> results</h1>
    <% else %>
      <h1> Guides ( <%= @guides.count %> ) </h1>
    <% end %>
  </div>

  <% if @guides.any? %>

    <div class="row">
      <div class="carousel slide multi-item-carousel" id="theCarousel">
        <div class="carousel-inner">

          <% @guides.each_with_index do |guide, index| %>
            <% if guide.tours.first %>
              <div class="item <%= "active" if index == 0 %>">
                <div class="col-xs-3 small-padding no-margin">
                  <div class="<%= "card-active" if index == 0 %> card card-carousel" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("<%= cl_image_path guide.tours.first.photo.path %>");'>
                    <%= link_to profile_path(guide), class: "card-link", remote: true do %>
                      <div class="card-description">
                        <h2><%= guide.tours.first.name %></h2>
                      </div>
                      <div class="card-avatar">
                      <%= cl_image_tag guide.photo.path, width: 40, height: 40, radius: :max, crop: :fill, class: "card-user" %>
                        <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

        </div>
        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
      </div>
    </div>
  <% end %>
</div>

<% if @guides.any? %>
  <div id="guide-info">
    <%= render "guide_show", guide: @guides.first %>
  </div>
<% end %>

<%= content_for :after_js do %>
  <script>
    $(".card-carousel").on("click", function(e) {
      $(".card-carousel").removeClass('card-active');
      $(this).addClass("card-active");
    });
  </script>
<% end %>

<!-- geocode map -->
