<h1 class="chat-header">YOUR MESSAGES WITH <%= booking.visit.tour.guide.first_name.upcase %></h1>

<div id="messages-<%= booking.id %>" class="messages">
  <% booking.messages.each do |message| %>
  <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
  <% end %>
</div>
<div id="create-message">
  <%= simple_form_for [ booking, Message.new ], remote: true do |f| %>
  <%= f.input :content, label: false %>
  <%= f.submit "Send!", class: "btn btn-primary" %>
  <% end %>

</div>


