
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h1>LIST OF PENDING BOOKINGS</h1>


      <% @bookings.each do |booking| %>


      <%= link_to(booking_path(booking), remote: true) do %>

      <div class="booking-list">
        <div class="message-heading">Your tour with <%= booking.visit.tour.guide.first_name + " " + booking.visit.tour.guide.last_name %></div>
        <div class="booking_index tab">
          <div class="message-img"> <%= cl_image_tag booking.visit.tour.guide.photo.path, width: 50, height: 50, crop: :fill, quality: 100, class: "message-avatar" %></div>
          <div class="booking-content">
            <%= booking.visit.tour.name %>

            - booking for <%= booking.visit.start_time.strftime("%Y-%d-%m")  %> at
            <%= booking.visit.start_time.strftime("%H:%M") %>

            <p class="booking_index">
              Confirmation to join tour:
              <% if booking.confirmed == false %>

              Pending

              <% if current_user.type == "Guide" %>
              <%= link_to "Accept", booking_path(booking), method: :patch %>
              <% end %>

              <% else %>
              Accepted
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <% end %>

      <% end %>
    </div>

    <div class="col-xs-7 col-xs-offset-1" id="single-message">

      <%= render "message_show", booking: @bookings.first %>

    </div>
  </div>
</div>

