<div class="container">
  <div class="row">
    <div class="col-xs-8">
        <h1><%= @tour.name %></h1>
        <p>This tour takes place in: <%= @tour.city %></p>
        <p>The meeting point is: <%= @tour.address %></p>
      <h5>Description</h5>
        <p><%= @tour.description %></p>
    </div>

<div id="wrapper">
  <div id="map" style="width: 50%; height: 400px;"></div>
      <%= content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
      <% end %>
      <% end %>
      </div>


      <div class="col-xs-4" id="calendar">

      <h5>Amount of travellers attending the tour:</h5>

      ______NEW FORM GOES HERE


        <h5>Offered dates for this tour:</h5>
          <%= month_calendar events: @available_visits do |date, tour_visits| %>
            <%= date.day %>
            <% tour_visits.each do |one_visit| %>
              <div>
                <%= link_to one_visit.start_time.strftime("%H:%M"), visit_bookings_path(one_visit), method: :post  %>
                Spots left: <%= @tour.attendants - one_visit.bookings.count %>
              </div>

            <% end %>
          <% end %>

        </div>
      </div>
    </div>






