<div class="container">
  <div class="row">
    <div class="col-xs-8">
        <h1><%= @tour.name %></h1>
        <p>This tour takes place in: <%= @tour.city %></p>
        <p>The meeting point is: <%= @tour.address %></p>
      <h5>Description</h5>
        <p><%= @tour.description %></p>
    </div>

<div id="wrapper">
  <div id="map" style="width: 50%; height: 400px;"></div>
      <%= content_for(:after_js) do %>
        <script>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        </script>
      <% end %>
      </div>


      <div class="col-xs-4" id="calendar">

        <%= simple_form_for @booking do |f| %>

          <h5>Amount of travelers attending the tour:</h5>

          <%= f.input :participants %><br>

          <h3>Offered dates for this tour:</h3>
            <%= month_calendar events: @available_visits do |date, tour_visits| %>
              <%= date.day %>
              <% tour_visits.each do |one_visit| %>
                <div data-id="<%= one_visit.id %>" class="visit-selector">

                  <%= one_visit.start_time.strftime("%H:%M") %>

                  Spots left: <%= @tour.attendants - one_visit.bookings.where(confirmed: true).sum{|b| b.participants} %>

                </div>
              <% end %>
            <% end %>
            <%= f.input :visit_id, as: :hidden %>
            <%= f.button :submit %>

          <% end %>

        </div>
      </div>
    </div>


<%= content_for(:after_js) do %>
  <script>
   $(document).ready(function() {
    $('.visit-selector').on("click", function(){
      var chosen_visit = $(this).data("id");
      $('#booking_visit_id').val(chosen_visit);
      console.log(chosen_visit);
    });
   });

  </script>
<% end %>

