<div class="hidden-xs">
  <div class="banner-wrapper">
    <%= render 'video' %>

    <div class="banner" url('https://kitt.lewagon.com/placeholder/cities/berlin');">
     <div class="banner-content">
       <h1 id="h1-home-page">Find a guide, make friends.</h1>
       <p>explore with a local in small tours at affordable prices.</p>
       <%= render 'shared/searchbar' %>
       <p id="know-more">scroll down to know more</p>
     </div>
    </div>
  </div>
</div>

<div class="how-it-works">
  <p id="how-it-works-text">How it works</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
          <div class="col-xs-12 col-sm-4" >
            <div class="card">
              <div class="card-content">
                <div class="text-center">
                  <%= image_tag "choose-a-city.png", class: "icon" %>
                </div>
                <div class="text-center">
                  <p class="cards-header"><b>CHOOSE A CITY</b></p>
                  <p>tell us where you would like to go</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" >
            <div class="card">
              <div class="card-content">
                <div class="text-center">
                  <%= image_tag "browse-the-tours.png", class: "icon" %>
                </div>
                <div class="text-center">
                  <p class="cards-header"><b>BROWSE THE TOURS</b></p>
                  <p>pick your favorite tour among the ones offered by our locals</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4" >
            <div class="card">
              <div class="card-content">
                <div class="text-center">
                  <%= image_tag "find-people.png", class: "icon" %>
                </div>
                <div class="text-center">
                  <p class="cards-header"><b>MEET LOCALS</b></p>
                  <p>Get to experience a place with your local tour guide</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

